{% extends "users/base.html" %}

{% load crispy_forms_tags %}
{% block content %}
<div class="content-section ">
  <img src="{{ user.profile.image.url }}" style="width:100px;height:120px;border-radius:50%">
  <div class="user-credentials mb-4">
	  <h2>{{ user.username }}</h2>
	  <h4>{{ user.email }}</h4>
  </div>

<form method="POST" enctype="multipart/form-data">
	{%  csrf_token %}
	<fieldset class="form-group">
		<legend class="mt-2 border-bottom">Profile Info</legend>
		{{ u_form|crispy }}
		{{ p_form|crispy }}
	</fieldset>
	<div class="form-group">
		<button class="btn btn-outline-info" type="submit">Update</button>
	</div>
</form>
</div>
{% endblock content %}